<section>
  <% @days.sort.reverse.each do |day, bookmarks| %>
    <h2><%= day.beginning_of_day.strftime("%B %e, %Y") %></h2>
    <% bookmarks.each do |bookmark| %>
      <%= render bookmark %>
    <% end %>    
  <% end %>

  <% if @bookmarks.empty? %>
    <article>
      <p>No bookmarks were found.</p>
    </article>
  <% end %>
</section>
<div>
<%= paginate @bookmarks %>
</div>

<%= content_for 'section_nav' do %>
  <span><%= link_to 'Latest', bookmarks_path, class: "button active" %></span>
  <span><%= link_to 'Favourites', bookmarks_path, class: "button" %></span>
  <% if can? :new, Bookmark %>
    <span><%= link_to 'New Bookmark', new_bookmark_path, class: "button" %></span>
  <% end %>
<% end %>