<section>
  <% @bookmarks.each do |bookmark| %>
    <article>
      <h3><%= link_to bookmark.title, bookmark.url %></h3>
      <div><%= bookmark.description %></div>
      <aside class="meta">
        Submitted <%= distance_of_time_in_words_to_now(bookmark.created_at) %> ago by <%= bookmark.user_name %> &bullet;
          <%= link_to 'Show', bookmark %>
        <% if can? :update, bookmark %> &bullet;
          <%= link_to 'Edit', edit_bookmark_path(bookmark) %> &bullet;
          <%= link_to 'Delete', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </aside>
    </article>
  <% end %>
</section>
<div>
<%= will_paginate @posts %>
</div>
<%= content_for 'section_nav' do %>
<% if can? :new, Bookmark %>
<span>
<%= link_to 'New Bookmark', new_bookmark_path, class: "button" %>
</span>
<% end %>
<% end %>