<%= render @bookmark %>

<section id="comments">
  <h2>Comments</h2>
  <%= render @bookmark.comments %>

  <%= render "comments/form" if can? :create, Comment %>
</section>

<%= content_for 'section_nav' do %>
  <% if can? :new, Bookmark %>
    <span><%= link_to 'New Bookmark', new_bookmark_path, class: "button" %></span>
  <% end %>
<% end %>