<!DOCTYPE html>
<html>
<head>
  <title>Bookmarks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag :atom, "/feed" %>
  <%= auto_discovery_link_tag :rss, "/feed.rss" %>
  <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400|Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<header id="top_navigation">
	<nav>
    <% tags.each do |tag| %>
      <span><%= link_to tag, bookmarks_url(:tags => tag) %></span>
    <% end %>
    <%= form_tag search_bookmarks_path, method: :get, class: 'search' do %>
      <%= text_field_tag :query, params[:query] %>
      <%= submit_tag "Search", name: nil %>
    <% end %>
	</nav>
</header>
<header id="masthead">
<div class="header-content">
  <%= link_to root_path do %>
    <h1>Bookmarks</h1>
  <% end %>
  <nav>
    <%= render "layouts/navigation" %>
  </nav>
</div>
</header>
<div class="main">
  <section>
  <% if notice %><p id="notice"><%= notice %></p><% end %>
  <%= yield %>
  </section>
</div>
</body>
</html>
