<!DOCTYPE html>
<html>
<head>
  <title>Bookmarks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400|Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<header id="top_navigation">
	<nav>
    <% tags.each do |tag| %>
      <span><%= link_to tag, bookmarks_url(:tags => tag) %></span>
    <% end %>
	</nav>
</header>
<header id="masthead">
<div class="header-content">
  <%= link_to root_path do %>
    <h1>Bookmarks</h1>
  <% end %>
  <nav>
    <%= yield 'section_nav' %>
      <% if current_user %>
      <span>
          <%= link_to "Logout", logout_path, method: :delete, class: "button secondary" %>
      </span>
      <% else %>
      <span>
          <%= link_to "Login", login_path, class: "button" %>
      </span>
      <% end %>
  </nav>
</div>
</header>
<div class="main">
  <section>
  <%= yield %>
  </section>
</div>
</body>
</html>
